body {
    background: linear-gradient(-45deg, black, #131d4e),
    radial-gradient(circle at top left, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0) 70%);
    font-family: "Lucida Console", "Courier New", monospace;
    color: white;
}